

.bg-container {
    position: relative;
}

#bg-grad {
    position: absolute;
    width: 150%;
    height: 150%;
    left: -800px;
    top: -200px;
    z-index: -1;
}



.login-card {
    padding: 3rem 1rem 3rem 1rem;

    background-color: white;
    color: #26538a;

    border-radius: 0.5rem;

    -webkit-box-shadow: 10px 14px 44px -19px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 10px 14px 44px -19px rgba(0, 0, 0, 0.58);
    box-shadow: 10px 14px 44px -19px rgba(0, 0, 0, 0.58);
}

.login-card h1 {
    text-align: center;
}

.login-card .form-signin input {
    margin-bottom: 0.9rem;
}


/*RESPONSIVIDADE*/

@media (max-width: 576px) {
    .login-card {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col-md-4 {
        max-width: 30.0%;
    }
}